.tickets-wrapper {
    width: 50%;
    height: 100vh;
    margin: 0 auto;
    padding: 48px 0;
    text-align: center;
}

.form-select {
    margin-bottom: 25px;
}

.form-select:last-child {
    margin-bottom: 0;
}

.time-select {
    display: block !important;
}

.ticket-count-wrapper {
    display: flex;

    justify-content: center;
}

.ticket-count-wrapper input {
    width: 40%;
}